// Tarjim project id
export const projectId = '';

// Tarjim apikey
export const tarjimApikey = '';

// Default language to use
export const defaultLanguage = 'en';

// Project's supported languages
// Array of strings eg. ['en', 'fr']
export const supportedLanguages = ['en', 'fr'];

// Project's main/default namespace
// String eg. 'react'
export const defaultNamespace = '';

// Additional namespaces used in the project
// Array of strings
export const additionalNamespaces = [];
